.fea-img{
    width: 15rem;
    margin: 1rem;
}
.main{
 width: 100%;
}
.feature-con{
    width: 38vw;
    position: relative;
}
.btn-div{
    gap: 2rem;
    margin-top: 1rem;
}
.p-div{
    gap: 2rem;
    margin-top: 1rem;
}
.loc-img{
    width: 1.5rem;
}